main {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    font-weight: bold;
    font-family: sans-serif;
}

main > * {
    margin: 0.5em;
}

#manage-button {
    background-color: var(--pop-filter-color-primary);
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2em;
    align-self: flex-start;
}

p {
    font-size: 1.2em;
}

input[type=checkbox] {
    margin: 0 0.5em 0 0;
}
