:root {
    --pop-filter-color-danger: rgb(255, 96, 96);
    --pop-filter-color-confirm: rgb(93, 181, 93);
    --pop-filter-color-primary: rgb(206, 195, 0);
}

.pop-filter-danger {
    background-color: var(--pop-filter-color-danger);
}

.pop-filter-confirm {
    background-color: var(--pop-filter-color-confirm);
}

.pop-filter-primary {
    background-color: var(--pop-filter-color-primary);
}

.pop-filter-button {
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 0.7em;
    margin-bottom: 1em;
    border: none;
}

.pop-filter-button:active {
    filter: brightness(90%);
}